<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
           <div class="col-sm-8">
               <form class="form-inline"  role="form" style="padding: 8px;" method="get" id="queryForm">
                    <div class="form-group">
                        <label for="inputfile">充值日期：</label>
                        <div class='input-group date'>
                            <input type='date' class="form-control" name="startTime" />
                            <input type='date' class="form-control" name="endTime"  />
                        </div>

                    </div>
                    &nbsp;&nbsp;
                    <div class="checkbox">
                        <label>充值总：<span id="z_recharge"></span></label>
                    </div>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" id="sub">查询</button>
                </form>
            </div>

            <div class="col-sm-4">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <!-- <li><a href="#">Dashboard</a></li> -->
                            <li><a href="/index.php/admin/statistics/getRecharge">充值统计</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
    	<div class="row">
            <div class="col-lg-12" >
                <div class="card" style="height: 800px;">
                    <div class="card-body">
                        <h4 class="mb-3">Real Chart</h4>
                        <div class="flot-container">
                            <div id="cpu-load" class="cpu-load" style="height: 650px;"></div>
                        </div>
                    </div>
                </div>
            </div><!-- /# column -->
        </div>
    </div>
</div>

{js href="/static/js/echarts.js,/static/js/admin/statistics/chartRecharge.js" /}