<div class="content">
	<div class="card">
		<div class="row m-0">
	        <form class="form-inline"  role="form" style="padding: 8px;" method="get" id="queryForm">
	            <div class="form-group">
	                <label for="gid">查询条件：</label>
	                <select class="form-control" name="type">
                        <option value="1">游戏ID</option>
                        <option value="2">账号</option>
                        <option value="3">昵称</option>
                        <option value="4">UserID</option>
                        <option value="5">最后登录IP</option>
                        <option value="6">注册IP</option>
                        <option value="7">最后登录机器码</option>
                        <option value="8">注册机器码</option>
                        <option value="9">资料手机号</option>
                        <option value="10">身份证</option>    
                    </select>
	            </div>
	            &nbsp;&nbsp;
	            <div class="form-group">
	                <input type="text" class="form-control" name="con">
	            </div>
	            &nbsp;&nbsp;           
	            <button type="button" class="btn btn-primary" id="sub">查询</button>
                &nbsp;&nbsp;
                总输赢： <span id="z_ss"></span>
	        </form>
    	</div>
	</div>

    <div class="row">
    	<div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>关联号查询</h4>
                </div>
                <div class="card-body">
                    <div class="custom-tab">

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">相同注册ip</a>&nbsp;
                                <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">相同注册机器码</a>&nbsp;
                                <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">相同最后登陆ip</a>&nbsp;
                                <a class="nav-item nav-link" id="custom-nav-vzcvip-tab" data-toggle="tab" href="#custom-nav-vzcvip" role="tab" aria-controls="custom-nav-vzcvip" aria-selected="false">相同最后登陆机器码</a>&nbsp;
                                <a class="nav-item nav-link" id="custom-nav-ptzrvip-tab" data-toggle="tab" href="#custom-nav-ptzrvip" role="tab" aria-controls="custom-nav-ptzrvip" aria-selected="false">相同资料手机号</a>&nbsp;
                                <a class="nav-item nav-link" id="custom-nav-vipzcpt-tab" data-toggle="tab" href="#custom-nav-vipzcpt" role="tab" aria-controls="custom-nav-vipzcpt" aria-selected="false">身份证</a>
                                <a class="nav-item nav-link" id="custom-nav-all-tab" data-toggle="tab" href="#custom-nav-all" role="tab" aria-controls="custom-nav-all" aria-selected="false">所有关联号</a>&nbsp;
                            </div>
                        </nav>
                        <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                            <div id="toolbar" style="float: left;">
                                <button type="button" class="btn btn-success" id="setCheat">
                                    <i class="fa fa-bug"></i> 设置虫子
                                </button>
                                <button type="button" class="btn btn-info" id="fhao">封号</button>
                                <button type="button" class="btn btn-info" id="jiefen">解封</button>
                            </div>
                        	<table id="tabless"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">游戏所得</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="gamescore"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置虫子</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_departmentname">等级</label>
                    <select class="form-control" id="grade">
                        <option value="1">一级</option>
                        <option value="2">二级</option>
                        <option value="3">三级</option>
                        <option value="0">非虫子</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>

{js href="/static/js/admin/user/queryRelevance.js" /}