  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1><button type="button" id="reg1" class="btn btn-primary" >注册用户表</button>&nbsp;
                            <button type="button" id="reg2" class="btn btn-outline-primary" ><i class="fa fa-star"></i>&nbsp; 每日新增</button></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
           
           <form class="form-inline"  role="form" style="padding: 8px;" method="get" id="queryForm">
                <div class="form-group">
                    <label for="tim">注册时间:&nbsp;</label>
                    <input type="date" name="tim" class="form-control">
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <label for="channel">渠道号：</label>
                    <input type="number" name="channel" class="form-control">
                </div>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" id="sub">查询</button>
            </form>

        </div>
    </div>
</div>



<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">查询结果</strong>
                    </div>
                    <div class="card-body">
                    	<div id="toolbar" style="float: left;">
                            <button type="button" class="btn btn-success" id="setCheat">
                                <i class="fa fa-bug"></i> 设置虫子
                            </button>
                            <button type="button" class="btn btn-info" id="fhao">封号</button>
                        </div>
                        <table id="tabless">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">设置虫子</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="txt_departmentname">等级</label>
                    <select class="form-control" id="grade">
                        <option value="1">一级</option>
                        <option value="2">二级</option>
                        <option value="3">三级</option>
                        <option value="0">非虫子</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>
{js href="/static/js/admin/user/registerList.js" /}
