<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title"><span id="sername"></span>&nbsp;&nbsp;当前输赢排行</strong>
                    </div>
                    <div class="card-body">
                        <div id="toolbar" style="float: left;">
                            <button type="button" class="btn btn-success" id="setCheat">
                                输
                            </button>
                            <button type="button" class="btn btn-info" id="kickPeople">赢</button>
                        </div>
                        <table id="tabless"></table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

{js href="/static/js/admin/user/roomWin.js" /}
