  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>关联保护用户</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
           
           <form class="form-inline"  role="form" style="padding: 8px;" method="get" id="queryForm">
                <div class="form-group">
                    <input type="number" name="gid" class="form-control">
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <label for="date">日期:&nbsp;</label>
                    <input type="date" name="t1" class="form-control">&nbsp;-&nbsp;
                    <input type="date" name="t2" class="form-control">
                </div>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" id="sub">查询</button>
            </form>

        </div>
    </div>
</div>



<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">查询结果</strong>
                    </div>
                    <div class="card-body">
                      	<div id="toolbar" style="float: left;">
                            <button type="button" class="btn btn-success" id="delCheat">
                                <i class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                        <table id="tabless">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

{js href="/static/js/admin/record/glwornbh.js" /}
