  <div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>红包记录</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
           
           <form class="form-inline"  role="form" style="padding: 8px;" method="get" id="queryForm">
                <div class="form-group">
                    <label for="type">
                    	<select name="type" class="form-control">
                    		<option value="1">游戏ID</option>
                    		<option value="2">账号</option>
                            <option value="3">支付宝账户</option>
                            <option value="4">账户姓名</option>
                            <option value="5">渠道号</option>
                    	</select>
                    </label>
                    <input type="text" name="txts" class="form-control">
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <label for="gooid">状态:&nbsp;</label>
                    <select name="gooid" class="form-control" id="type1">
                        <option value="0">全部</option>
                        <option value="0">成功</option>
                        <option value="0">未发放</option>
                        <option value="0">已返还</option>
                        <option value="0">不予发放</option>
                        <option value="0">失败</option>
                    </select>
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <label for="date">日期:&nbsp;</label>
                    <input type="date" name="t1" class="form-control">&nbsp;-&nbsp;
                    <input type="date" name="t2" class="form-control">
                </div>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" id="sub">查询</button>
            </form>

        </div>
    </div>
</div>



<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">查询结果</strong>
                        &nbsp;&nbsp;
              			总金额:&nbsp;<span name="znum"></span>
                    </div>
                    <div class="card-body">
                        <table id="tabless">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

{js href="/static/js/admin/record/redRecord.js" /}
